/**
*CSS样式初始化
*/

html,
body {
  font-family: "PingFangSC-Regular", "Source Han Sans SC", "Microsoft YaHei",
    "sans-serif", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 12px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
button,
input,
textarea,
th,
td {
  box-sizing: border-box;
}
input {
  border: 0 none;
  outline: 0 none;
  background: 0 none;
}
button {
  border: 0 none;
  background: none;
}
button:focus {
  border: 0 none;
  outline: 0 none;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d5dfe9 !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #d5dfe9 !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #d5dfe9 !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #d5dfe9 !important;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  background-color: #b5b1b1;
}
*::-webkit-scrollbar-track {
  /* //scroll轨道背景 */
  -webkit-box-shadow: inset 0 0 6px #fff;
  background-color: #fff;
}
*::-webkit-scrollbar-thumb {
  /* //滚动条中能上下移动的小块 */
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #999;
  background-color: #b5b1b1;
}
/* color */
.color-333 {
  color: #333 !important;
}
.color-666 {
  color: #666 !important;
}
.color-999 {
  color: #999 !important;
}

/**
*快捷类样式
*/

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}

.flex {
  display: flex;
}

.center {
  text-align: center !important;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}

.lh-16 {
  line-height: 16px !important;
}
.lh-18 {
  line-height: 18px !important;
}
.lh-20 {
  line-height: 20px !important;
}
.lh-22 {
  line-height: 22px !important;
}
.lh-24 {
  line-height: 24px !important;
}
.lh-26 {
  line-height: 26px !important;
}
.lh-28 {
  line-height: 28px !important;
}
.lh-30 {
  line-height: 30px !important;
}
.lh-32 {
  line-height: 32px !important;
}
.lh-34 {
  line-height: 34px !important;
}
.lh-36 {
  line-height: 36px !important;
}
.lh-38 {
  line-height: 38px !important;
}
.lh-40 {
  line-height: 40px !important;
}
.lh-42 {
  line-height: 42px !important;
}
.lh-44 {
  line-height: 44px !important;
}
.lh-46 {
  line-height: 46px !important;
}
.lh-48 {
  line-height: 48px !important;
}

/* 字体大小 */
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-26 {
  font-size: 26px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.fs-34 {
  font-size: 34px !important;
}
.fs-36 {
  font-size: 36px !important;
}
.fs-38 {
  font-size: 38px !important;
}

/*margin*/
.mt-8 {
  margin-top: 8px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mt-14 {
  margin-top: 14px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-18 {
  margin-top: 18px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-22 {
  margin-top: 22px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mt-26 {
  margin-top: 26px !important;
}
.mt-28 {
  margin-top: 28px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-32 {
  margin-top: 32px !important;
}
.mt-34 {
  margin-top: 34px !important;
}
.mt-36 {
  margin-top: 36px !important;
}
.mt-38 {
  margin-top: 38px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-42 {
  margin-top: 42px !important;
}
.mt-44 {
  margin-top: 44px !important;
}
.mt-46 {
  margin-top: 46px !important;
}
.mt-48 {
  margin-top: 48px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-52 {
  margin-top: 52px !important;
}
.mt-54 {
  margin-top: 54px !important;
}
.mt-56 {
  margin-top: 56px !important;
}
.mt-58 {
  margin-top: 58px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-62 {
  margin-top: 62px !important;
}
.mt-64 {
  margin-top: 64px !important;
}
.mt-66 {
  margin-top: 66px !important;
}
.mt-68 {
  margin-top: 68px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.mb-14 {
  margin-bottom: 14px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-18 {
  margin-bottom: 18px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-22 {
  margin-bottom: 22px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-26 {
  margin-bottom: 26px !important;
}
.mb-28 {
  margin-bottom: 28px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.mb-34 {
  margin-bottom: 34px !important;
}
.mb-36 {
  margin-bottom: 36px !important;
}
.mb-38 {
  margin-bottom: 38px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-42 {
  margin-bottom: 42px !important;
}
.mb-44 {
  margin-bottom: 44px !important;
}
.mb-46 {
  margin-bottom: 46px !important;
}
.mb-48 {
  margin-bottom: 48px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-52 {
  margin-bottom: 52px !important;
}
.mb-54 {
  margin-bottom: 54px !important;
}
.mb-56 {
  margin-bottom: 56px !important;
}
.mb-58 {
  margin-bottom: 58px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-62 {
  margin-bottom: 62px !important;
}
.mb-64 {
  margin-bottom: 64px !important;
}
.mb-66 {
  margin-bottom: 66px !important;
}
.mb-68 {
  margin-bottom: 68px !important;
}

.ml-8 {
  margin-left: 8px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-12 {
  margin-left: 12px !important;
}
.ml-14 {
  margin-left: 14px !important;
}
.ml-16 {
  margin-left: 16px !important;
}
.ml-18 {
  margin-left: 18px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-22 {
  margin-left: 22px !important;
}
.ml-24 {
  margin-left: 24px !important;
}
.ml-26 {
  margin-left: 26px !important;
}
.ml-28 {
  margin-left: 28px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-32 {
  margin-left: 32px !important;
}
.ml-34 {
  margin-left: 34px !important;
}
.ml-36 {
  margin-left: 36px !important;
}
.ml-38 {
  margin-left: 38px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-42 {
  margin-left: 42px !important;
}
.ml-44 {
  margin-left: 44px !important;
}
.ml-46 {
  margin-left: 46px !important;
}
.ml-48 {
  margin-left: 48px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.ml-52 {
  margin-left: 52px !important;
}
.ml-54 {
  margin-left: 54px !important;
}
.ml-56 {
  margin-left: 56px !important;
}
.ml-58 {
  margin-left: 58px !important;
}
.ml-60 {
  margin-left: 60px !important;
}
.ml-62 {
  margin-left: 62px !important;
}
.ml-64 {
  margin-left: 64px !important;
}
.ml-66 {
  margin-left: 66px !important;
}
.ml-68 {
  margin-left: 68px !important;
}

.mr-8 {
  margin-right: 8px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.mr-14 {
  margin-right: 14px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.mr-18 {
  margin-right: 18px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-22 {
  margin-right: 22px !important;
}
.mr-24 {
  margin-right: 24px !important;
}
.mr-26 {
  margin-right: 26px !important;
}
.mr-28 {
  margin-right: 28px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-32 {
  margin-right: 32px !important;
}
.mr-34 {
  margin-right: 34px !important;
}
.mr-36 {
  margin-right: 36px !important;
}
.mr-38 {
  margin-right: 38px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mr-42 {
  margin-right: 42px !important;
}
.mr-44 {
  margin-right: 44px !important;
}
.mr-46 {
  margin-right: 46px !important;
}
.mr-48 {
  margin-right: 48px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.mr-52 {
  margin-right: 52px !important;
}
.mr-54 {
  margin-right: 54px !important;
}
.mr-56 {
  margin-right: 56px !important;
}
.mr-58 {
  margin-right: 58px !important;
}
.mr-60 {
  margin-right: 60px !important;
}
.mr-62 {
  margin-right: 62px !important;
}
.mr-64 {
  margin-right: 64px !important;
}
.mr-66 {
  margin-right: 66px !important;
}
.mr-68 {
  margin-right: 68px !important;
}

/* padding */

.pt-10 {
  padding-top: 10px !important;
}
.pt-12 {
  padding-top: 12px !important;
}
.pt-14 {
  padding-top: 14px !important;
}
.pt-16 {
  padding-top: 16px !important;
}
.pt-18 {
  padding-top: 18px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-22 {
  padding-top: 22px !important;
}
.pt-24 {
  padding-top: 24px !important;
}
.pt-26 {
  padding-top: 26px !important;
}
.pt-28 {
  padding-top: 28px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-32 {
  padding-top: 32px !important;
}
.pt-34 {
  padding-top: 34px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-60 {
  padding-top: 60px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.pb-14 {
  padding-bottom: 14px !important;
}
.pb-16 {
  padding-bottom: 16px !important;
}
.pb-18 {
  padding-bottom: 18px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-22 {
  padding-bottom: 22px !important;
}
.pb-24 {
  padding-bottom: 24px !important;
}
.pb-26 {
  padding-bottom: 26px !important;
}
.pb-28 {
  padding-bottom: 28px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-32 {
  padding-bottom: 32px !important;
}
.pb-34 {
  padding-bottom: 34px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}

.pl-10 {
  padding-left: 10px !important;
}
.pl-12 {
  padding-left: 12px !important;
}
.pl-14 {
  padding-left: 14px !important;
}
.pl-16 {
  padding-left: 16px !important;
}
.pl-18 {
  padding-left: 18px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-22 {
  padding-left: 22px !important;
}
.pl-24 {
  padding-left: 24px !important;
}
.pl-26 {
  padding-left: 26px !important;
}
.pl-28 {
  padding-left: 28px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-32 {
  padding-left: 32px !important;
}
.pl-34 {
  padding-left: 34px !important;
}
.pl-40 {
  padding-left: 40px !important;
}
.pl-42 {
  padding-left: 42px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
.pl-60 {
  padding-left: 60px !important;
}

.pr-10 {
  padding-right: 10px !important;
}
.pr-12 {
  padding-right: 12px !important;
}
.pr-14 {
  padding-right: 14px !important;
}
.pr-16 {
  padding-right: 16px !important;
}
.pr-18 {
  padding-right: 18px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-22 {
  padding-right: 22px !important;
}
.pr-24 {
  padding-right: 24px !important;
}
.pr-26 {
  padding-right: 26px !important;
}
.pr-28 {
  padding-right: 28px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-32 {
  padding-right: 32px !important;
}
.pr-34 {
  padding-right: 34px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.pr-50 {
  padding-right: 50px !important;
}
.pr-60 {
  padding-right: 60px !important;
}

/* 定位 */
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

/* 阴影 */
.shadow {
  -moz-box-shadow: 0 6px 5px #e8f1fb;
  box-shadow: 0 6px 5px #e8f1fb;
}

/* element ui 弹窗 */
.el-message {
  top: 100px !important;
}
